@import url('./reset.css');
@import url('./share.css');


/* 메인 버튼 감싸는 wrapper, 버튼 정렬 위헤서 flex(사실상 의미 없음 자식이 ul이라), wrap */
/* 좌우 padding 18px 유지 */
#index .main { display: flex; flex-wrap: wrap;  justify-content: space-between; padding: 1rem 1.125rem; box-sizing: border-box;}

/* 메뉴 */
/* li를 정렬하기 위해 flex, space-between, 각 버튼 간격 14px */
#index .main ul { width: 100%; height: 100%; display: flex; flex-flow: row wrap; justify-content: space-between; margin-bottom: 1.5rem;}

/* 버튼 사이 간격 0.4rem 유지하는 calc, 0.775:1 비율 유지 */
#index .main li { width: calc(50% - 0.4rem); aspect-ratio: 0.775 / 1; background-color: rgb(240, 141, 20); border-radius: 10px;}

/* display:flex는 버튼 텍스트 중앙으로 보내기 위함 */
#index .main .main-btn { width: 100%; height: 100%; flex-shrink: 0; border-radius: 10px; background: #FFF; box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); display: flex; justify-content: center; align-items: center;}

/* 버튼 텍스트 스타일, figma에서 가져옴 */
#index .main .main-text {display: inline; color: var(--point-color); text-align: center; font-size: 4rem; font-style: normal; font-weight: 400; line-height: normal;}

#index .main .main-btn:active {
    background-color: #F27521; /* 클릭 시 색상 변화 */
}

#index .main .main-btn:active .main-text {
    color: #FFF;
}

footer {height: 10rem;}