body {
    margin: 0;
    padding: 0;
    background-color:#c7c7d7;;
}

.login-container {
    width: 300px;
    margin: 100px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    text-align: center;
    color: rgb(22, 0, 189)
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #333333;
}

.input-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

.login-btn {
    width: 100%;
    padding: 10px;
    color: #ffffff;
    background-color: rgb(22, 0, 189);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #0011ff;
}