@import url('../reset.css');
@import url('../share.css');



/* 메뉴 */
/* li를 정렬하기 위해 flex, space-between, 각 버튼 간격 14px */
#myInfo .main .main-wrap { width: 100%; height: 100%; margin-bottom: 1.5rem; padding-top: 10rem;}

/* 버튼 사이 간격 0.4rem 유지하는 calc, 0.775:1 비율 유지 */
#myInfo .main .main-wrap li {display: block; width: 100%; border-radius: 10px; margin-bottom: 20px; font-size: 3rem; }

#myInfo .main .main-wrap li .a { display: flex; justify-content: space-between;}

#myInfo .main .main-wrap li .a label { width: 40%; padding-top: 2rem; padding-left: 1rem;}

#myInfo .main .main-wrap li .a span { border-radius: 1rem; height: 5rem;  padding-left: 1rem; padding-top: 1.5rem; border: 2px solid #FF8A00; width: 60%; font-size: 2rem; margin-top: 1rem; background-color: white;}

#myInfo .main .main-wrap li .a div { border-radius: 1rem; height: 12rem;  padding-left: 1rem; padding-top: 1.5rem; border: 2px solid #FF8A00; width: 60%; font-size: 1.7rem; margin-top: 1rem; background-color: white;}

#myInfo .main .infochange { width: 100%; margin-bottom: 3rem;}

#myInfo .main .alarm .main-text { width: 17rem; aspect-ratio: 6.48 / 1; font-size: 1rem; }



