@import url('https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

/* section calendar */
@font-face {
    font-family: 'NanumSquareR';
    font-style: normal;
    font-weight: 400;
    src: local('Nanum Square Regular'),
        local('NanumSquareR'),
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    --blue: #3f99ff;
}

body {
    font-family: NanumSquareR;
}

a {
    text-decoration-line: none;
    text-decoration: none;
    color: #000;
}

ol,
ul {
    list-style: none;
}


/* Calendar ---------------------------------------------------- */
.calendar-wrap {
    max-width: 1175px;
    padding-top: 50px;
    margin: 0 auto;
    font-family: "NanumSquareR";
    display: flex;
    gap: 2%;
    margin-bottom: 20px;
}

.calendar-wrap>div {}

.calendar-middle-wrap {
    background: #fafbfa;
    width: 34%;
    padding: 40px 32px;
    padding-bottom: 100px;
}

.checkInOutInfo {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fafbfa;
    position: relative;
}

.calendar-wrap .cal_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 48px;
    line-height: 78px;
}

.calendar-wrap .cal_nav .year-month {
    width: 300px;
    text-align: center;
    line-height: 1;
    font-size: 20px;
}

.calendar-wrap .cal_nav .nav {
    display: flex;
    border: 1px solid #333333;
    border-radius: 5px;
}

.calendar-wrap .cal_nav .go-prev,
.calendar-wrap .cal_nav .go-next {
    display: block;
    width: 50px;
    font-size: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar-wrap .cal_nav .go-prev::before,
.calendar-wrap .cal_nav .go-next::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid #000;
    border-width: 3px 3px 0 0;
    transition: border 0.1s;
}

.calendar-wrap .cal_nav .go-prev::before {
    transform: rotate(-135deg);
}

.calendar-wrap .cal_nav .go-next::before {
    transform: rotate(45deg);
}

.calendar-wrap .cal_wrap {
    padding-top: 40px;
    position: relative;
    margin: 0 auto;
}

.calendar-wrap .cal_wrap::after {
    top: 368px;
}

.calendar-wrap .cal_wrap .dates {
    display: flex;
    flex-flow: wrap;
    height: 290px;
}

.calendar-wrap .cal_wrap .days {
    display: flex;
    margin-bottom: 20px;
}

.calendar-wrap .cal_wrap .day {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 7);
    text-align: left;
    color: #2d1d0b;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

.calendar-wrap .cal_wrap .day span {
    z-index: 5;
}

.calendar-wrap .cal_wrap .day .check_in_out_p {
    position: absolute;
    left: 50%;
    top: 47px;
    transform: translateX(-50%);
    font-size: 12px;
    width: 100%;
    color: var(--blue);
}

.calendar-wrap .cal_wrap .checkIn span {
    color: #fff;
}

.calendar-wrap .cal_wrap .checkOut span {
    color: #fff;
}

.calendar-wrap .cal_wrap .selectDay {
    position: relative;
}

.calendar-wrap .cal_wrap .selectDay::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 30px;
    background: #c3defc;
    opacity: 0.5;
    z-index: 1;
}

.calendar-wrap .cal_wrap .checkIn.selectDay::before {
    left: 50%;
    width: 50%;
}

.calendar-wrap .cal_wrap .checkOut.selectDay::before {
    width: 50%;
}

.calendar-wrap .cal_wrap .checkIn::after,
.calendar-wrap .cal_wrap .checkOut::after,
.calendar-wrap .cal_wrap .checkIn::after {
    content: '';
    background: var(--blue);
    position: absolute;
    left: 50%;
    top: 50%;
    width: 30px;
    height: 30px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 2;
}

.calendar-wrap .cal_wrap .day:nth-child(7n -6) {
    color: #ed2a61;
}

.calendar-wrap .cal_wrap .day:nth-child(7n) {
    color: #3c6ffa;
}

.calendar-wrap .cal_wrap .day.disable {
    color: #ddd;
}

.current.today {
    background: rgb(242 242 242);
}

.checkInOutInfo>div {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.checkInOutInfo p {
    font-size: 24px;
    color: #494949;
    line-height: 1.7;
    text-align: center;
}

.checkInOutInfo p.space {
    margin-bottom: 10px;
}

.checkInOutInfo p:nth-child(1) {
    width: 100%;
}

.checkInOutInfo p:nth-child(3) {
    width: 100%;
}

.checkInOutInfo p span {
    display: block;
    font-size: 16px;
    color: #a1a1a1;
}


@media screen and (max-width :1200px) {
    .calendar-wrap {
        flex-wrap: wrap;
        padding: 2%;
    }

    .calendar-middle-wrap {
        width: 49%;
        padding: 40px 7%;
    }

    .checkInOutInfo {
        width: 100%;
        margin-top: 2%;
        padding: 50px;
    }

    .checkInOutInfo>div {
        flex-direction: row;
        width: 100%;
    }

    .checkInOutInfo p:nth-child(1) {
        width: 50%;
    }

    .checkInOutInfo p:nth-child(2) {
        width: 50px;
    }

    .checkInOutInfo p:nth-child(3) {
        width: 50%;
    }
}

@media screen and (max-width:768px) {
    .calendar-middle-wrap {
        width: 100%;
        padding: 40px 10%;
    }

    .calendar-middle-wrap:first-of-type {
        margin-bottom: 2%;
    }

    .checkInOutInfo {
        padding: 20px;
    }

    .checkInOutInfo>div {
        flex-direction: column;
    }

    .checkInOutInfo p:nth-child(1) {
        width: 100%;
    }

    .checkInOutInfo p:nth-child(2) {
        width: 100%;
    }

    .checkInOutInfo p:nth-child(3) {
        width: 100%;
    }

    .checkInOutInfo p.space {
        margin-bottom: 0;
    }

    .checkInOutInfo p span {
        display: inline-block;
        margin-right: 10px;
    }

    .checkInOutInfo p label {
        font-size: 20px;
    }
}